# Jekyll
_site/
.jekyll-cache/
.jekyll-metadata
.sass-cache/

# Ruby/Bundler
vendor/
.bundle/

# Python
__pycache__/
*.py[cod]
.venv/
.venv*/
env/
.venv*/
.pytest_cache/

# Node.js
package-lock.json

# GitHub Actions
# (keep workflows; ignore only generated logs/artifacts)
*.log

# Editor/OS
.DS_Store
.vscode/
.idea/

# Env
.env